FLASK_APP=run.py
FLASK_ENV=development

SECRET_KEY=your_secret_key_here

DB_HOST=mysql-722f78d-avishkarkedar11-6c37.d.aivencloud.com
DB_PORT=21748
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=your_password_here

