FLASK_APP=run.py
FLASK_ENV=development

SECRET_KEY=53e6074551b9e7e84ded007a34cb01cf

DB_HOST=mysql-722f78d-avishkarkedar11-6c37.d.aivencloud.com
DB_PORT=21748
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=AVNS_d7NAj3nDK-WD2qMmQom

